:root {
    --page-bg: #0a0b15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* NÃO ESQUECER: Isto garante que o padding e a borda sejam
                             incluídos no tamanho total do elemento.
                             (o contrário é Content-box). */
}

body {
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto; -> valor default.
    É opcional. Melhora a legibilidade em tamanho de fontes diferentes (espaçamento entre letras, ...) */ 
    font-weight: 400;
    font-style: normal;
    background-color: var(--page-bg) linear-gradient(to bottom, #313b9eff #313b9e00) fixed;
    
}

.logoicon {
    background-color: #313b9e;
}