:root {
  --page-bg: #0a0b15;
  --grid-gap: 0.75rem;
  --grid-margin: 1.5rem;
  --text-color: whitesmoke;
  --text-size: 0.75rem;
  --primary-color: #cd8e11;

  --h1-size: 1.75rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;

  --button-padding-y: 1rem;
  --button-padding-x: 2.25rem;
  --button-font-size: 1rem;

  --section-distance-top: 4.5rem;
  --subsection-distance-gap: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* NÃO ESQUECER: Isto garante que o padding e a borda sejam
                             incluídos no tamanho total do elemento.
                             (o contrário é Content-box). */
}

body {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; -> valor default.
    É opcional. Melhora a legibilidade em tamanho de fontes diferentes (espaçamento entre letras, ...) */
  font-weight: 400;
  font-style: normal;
  background: var(--page-bg)
    linear-gradient(to bottom, #0a1150ff 50%, #313b9e00) fixed;
  /* Foi necessário colocar "50%" para que o gradiente ficasse mais suave, sem uma linha tão nítida entre as cores. */
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}

.logo-icon {
  background-color: #0a1150;
  position: sticky;
  /* O logo está fora do header para se trabalhar com o position: sticky; */
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1.75rem;
  background-image: linear-gradient(to bottom, #0a1150ff 88%, #313b9e00);
  /* Não criou esfumaçamento */
}

.burguer-menu {
  max-width: 100px;
  padding: 0.6rem;
}

/* BARRA DE NAVEGAÇÃO */

.nav-menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
  }

  a {
    padding: 0.75rem;
    display: inline-block; /* Não esquecer que o padding não funciona bem com elementos de linha! */
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid blue;
    }
    /* Com esta borda adicionada, quando se faz hover, parece que o conteúdo "dá um pulo". 
    Por isso, adiciona-se uma borda transparente na ligação (a). */
  }
}

h1 {
  font-size: var(--h1-size);
  font-weight: 900; /* Versão BLACK */
  line-height: 1;
  text-wrap: balance;
  /* Isto ajuda a equilibrar as linhas de texto, 
  evitando que uma linha fique muito curta. */
}

/* HERO BANNER */

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.hero-title-upper {
  text-transform: uppercase;
  text-shadow:
    2px 2px var(--text-color),
    -2px -2px var(--text-color),
    -2px 2px var(--text-color),
    2px -2px var(--text-color);
  /* Como não foi possível usar o text-stroke, fez-se uma gambiarra. */
  color: #0a1150;
  margin-top: 0.5rem;
  display: block; /* Para quebrar em "Ciências da Saúde */
}

.btn {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: 10rem;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: var(--button-font-size);
}

main > * {
  padding-top: var(--section-distance-top);
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: var(--h2-size);
}

.title-thin {
  font-weight: 200;
  font-style: italic;
  display: block;
}

/* COURSES */

.courses,
.courses-list {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.courses-card {
  text-align: center;
}

h3 {
  font-size: var(--h3-size);
  text-align: center;
  font-weight: 900;
}

p {
  font-size: var(--text-size);
}

.btn-stroke {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.courses-card-img {
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

.courses-card-content {
  margin-top: 1rem;

  p {
    margin: 1.625rem 0;
  }
}

.courses-card-ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* CRÍTICAS */

.critics {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.critics-carroussel-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Impede que os itens quebrem para a próxima linha. */
  overflow-x: scroll; /* Adiciona uma barra de rolagem horizontal quando o conteúdo excede a largura do container. */
  padding-bottom: 1rem;
  padding-right: var(--grid-gap);

  scroll-snap-type: x mandatory;

  img {
    margin-left: var(
      --grid-gap
    ); /* Adiciona um espaço entre as imagens, exceto a primeira. */
    width: calc(100vw - var(--grid-margin) * 2);
    /* Define a largura da imagem para ocupar toda a largura da tela, menos as margens. */
    flex: 0 0 calc(100vw - var(--grid-margin) * 2);
    scroll-snap-align: center; /* Ponto de ancoragem do scroll no centro da imagem. */
  }
}

main {
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    height: 0.25rem;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

/* LIVROS */

.books,
.books-list {
  display: flex;
  flex-direction: column;
  gap: var(--subsection-distance-gap);
}

.books-card {
  text-align: center;
}

.books-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.books-card-ctas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.btn-ghost {
  color: var(--primary-color);
  border: none;
  background-color: transparent;
}

.books-card-price {
  font-size: 2rem;
  font-weight: 900;
}

/* NOVIDADES E CONTACTOS */

.news {
  display: flex;
  flex-direction: column;
}

.news-content {
  text-align: center;

  p {
    font-size: var(--h3-size);
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}

.news-whatsapp,
.news-telegram {
  width: 20%;
}

footer {
  p {
    margin: 0 auto;
    padding: 0.4rem;
  }
}

.sm-hide {
  display: none;
}

@media screen and (width > 64em) {
  :root {
    --h1-size: 3.25rem;
    --h2-size: 2.25rem;
    --h3-size: 1.75rem;
    --button-font-size: 1.25rem;
    --text-size: 1rem;

    --grid-gap: 1.25rem;
    --grid-margin: 2rem;
  }

  .body {
    background: var(--page-bg)
      linear-gradient(to bottom, #0a1150ff 50%, #313b9e00) no-repeat;
    background-size: 100% 100vh;
  }

  .md-hide {
    display: none;
  }

  .md-show {
    display: revert;

    /*
    Display: initial; -> O elemento é renderizado de acordo com seu tipo (block, inline...)
    Neste caso, uma div deixa de ter display block por padrão e passa a ter display inline.

    Display: unset; -> Combina os efeitos de "initial" e "inherit". 
    Se o elemento tiver um valor de display definido por um estilo pai, ele herdará esse valor. 
    Caso contrário, ele usará o valor inicial do navegador para display.

    Display: revert; -> O elemento é renderizado de acordo com as regras de estilo do navegador, 
    ou seja, o estilo é "revertido" para o valor padrão do navegador. */
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 4.375rem;
    padding-bottom: 3rem;
    background-image: linear-gradient(to bottom, #0a1150ff 88%, #313b9e00);
    z-index: 1;
  }

  .logo-icon-img {
    margin: auto;
    text-align: center;
  }

  .nav-menu {
    margin-top: 1.75rem;
  }

  .nav-menu ul {
    flex-direction: row;
    justify-content: center;
  }

  .courses-title {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      width: 7.4rem;
      height: 3.875rem;
      display: inline-block;

      background-image: url(../assets/estrelas-esquerda.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &::after {
      transform: scale(-1, 1);
    }
  }

  .courses-card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
    text-align: left;
  }

  .courses-card-img {
    grid-column: 1 / 4;
    width: 100%;
  }

  .courses-card-content {
    grid-column: 4 / -1;

    .h3 {
      text-align: inherit;
    }
  }

  .courses-card-ctas {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .critics-carroussel-wrapper img {
    flex: auto;
  }

  .critics-carroussel {
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 1rem; /* Para respeitar o padding e não interferir com a scroll bar. */
      width: 9rem;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(
        to right,
        var(--page-bg) var(--grid-margin),
        #0000
      );
    }

    &::after {
      right: 0;
      background-image: linear-gradient(
        to left,
        var(--page-bg) var(--grid-margin),
        #0000
      );
    }
  }

  .books-card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
    text-align: left;
  }

  .books-card img {
    grid-column: 1 / 3;
    width: 100%;
    order: 1;
  }

  .books-card-content {
    .h3 {
      font-size: var(--h3-size);
    }
  }

  .books-card:nth-child(odd) img {
    grid-column: 1 / 3;
    order: 1;
  }

  .books-card:nth-child(odd) .books-card-content {
    grid-column: 3 / -1;
    order: 2;
    text-align: left;
  }

  .books-card:nth-child(odd) .books-card-content .h3,
  .books-card:nth-child(odd) .books-card-content .books-card-ctas {
    text-align: left;
  }

  .books-card:nth-child(even) img {
    grid-column: 7 / -1;
    order: 2;
  }

  .books-card:nth-child(even) .books-card-content {
    grid-column: 1 / 7;
    order: 1;
    text-align: right;
  }

  .books-card:nth-child(even) .books-card-content .h3,
  .books-card:nth-child(even) .books-card-content .books-card-ctas {
    text-align: right;
  }

  .books-card:nth-child(even) .books-card-ctas {
    justify-content: flex-end;
  }

  .books-card-ctas {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (width > 90em) {
  :root {
    --grid-margin: 4rem;
    --h1-size: 4rem;
    --h2-size: 2.5rem;
    --h3-size: 2rem;

    --section-distance-top: 9rem;
    --subsection-distance-gap: 7.75rem;
  }

  main {
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      height: 0.5rem;
    }
  }

  .header {
    padding: 3rem 0;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    margin: 0;
  }

  .logo-icon-img {
    margin: 0; /* Porque não queremos centralizado. */
  }

  .courses-card {
    grid-template-columns: repeat(12, 1fr);
  }

  .courses-card-img {
    grid-column: 2 / 6;
  }

  .courses-card-content {
    grid-column: 6 / -2;
  }

  .books-card {
    grid-template-columns: repeat(12, 1fr);
  }

  .books-card img {
    grid-column: 1 / 4;
    width: 100%;
  }

  .books-card-content {
    grid-column: 4 / -2;
  }

  .books-card:nth-child(even) img {
    grid-column: 10 / -1;
    width: 70%;
  }

  .books-card:nth-child(even) .books-card-content {
    grid-column: 2 / 10;
  }

  .news {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    & > * {
      /* Qualquer filho direto */
      grid-column: 2 / -2;
    }
  }

  .news-content {
    text-align: center;

    p {
      font-size: var(--h3-size);
      margin: 0 auto;
      padding-bottom: 2rem;
    }
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
  }

  .news-whatsapp,
  .news-telegram {
    width: 10%;
  }

  footer {
    p {
      margin: 0 auto;
      padding: 0.4rem;
    }
  }
}
